.footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: inherit;
     color: white;
     text-align: center;
     height: 5vh;

     .icon-list{
          display: inline-flex;


          .icon {
               padding: 5px 10px;
               cursor: pointer;
              
               &:hover{
                    color: #778DA9;
               }
          }

          a {
               text-decoration: none;
               color: inherit
          }
     }


}