.nav-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .name-container {
       color: blue;
    height: 100%;
    width: 70px;
    padding: 25px;
    text-decoration: none;
  }

  .page-options-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .page-option {
     color: blue;
      padding: 10px 15px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
